@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.register-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left-side {
  flex: 1;
  position: relative;
  height: 100vh;
  background:
    linear-gradient(rgba(70,132,224,0.4), rgba(70,132,224,0.4)),
    url('../Images/Login.jpg') center center / cover no-repeat;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.register-box {
  width: 100%;
  max-width: 360px;
  padding: 40px 35px;
  background: #fff;
  border-radius: 10px;
}

.form-label {
  font-weight: 500;
  font-size: 14px;
}

.input-group-text {
  background-color: #f8f9fa;
  border-right: none;
}

.input-group .form-control {
  border-left: none;
}

.input-group .form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  height: 42px;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.toggle-password {
  cursor: pointer;
}

.small a {
  text-decoration: none;
}

.login-link {
  color: #23df94;
}

.login-link:hover {
  text-decoration: underline;
}

/* Responsiveness */
@media (max-width: 768px) {
  .left-side {
    display: none;
  }

  .right-side {
    flex: 1;
    padding: 30px;
  }

  .register-box {
    max-width: 100%;
    box-shadow: none;
    padding: 20px;
  }
}
